@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

.right-section::-webkit-scrollbar {
  width: 0px;
}
